<aside>
  <div class="top">
    <div class="logo">
      <h2 class="text-muted">Rihal<span class="danger"> Challenge</span></h2>
    </div>
    <div class="close" id="close-btn">
      <span class="material-icons-sharp"> close </span>
    </div>
  </div>
  <!-- side bar -->
  <div class="sidebar">
    <a href="/home">
      <span class="material-icons-sharp"> grid_view </span>
      <h3>Home</h3>
    </a>
    <a href="/students">
      <span class="material-icons-sharp"> person_outline </span>
      <h3>Students</h3>
    </a>
    <a href="/classes">
      <span class="material-icons-sharp"> class </span>
      <h3>Classes</h3>
    </a>
    <a href="/countries">
      <span class="material-icons-sharp"> flag </span>
      <h3>Countries</h3>
    </a>
    <a href="/about">
      <span class="material-icons-sharp"> engineering </span>
      <h3>About Me</h3>
    </a>
    <a href="#" id="logout">
      <span class="material-icons-sharp"> logout </span>
      <h3>Log Out</h3>
    </a>
  </div>
</aside>
