<div class="header-right">
  <h4 class="text-uppercase">Education</h4>
  <hr />
  <ul class="list">
    <li class="list-item">
      <h5 class="display-7 text-uppercase">University Malaya</h5>
      <h6 class="text-uppercase text-black-50">October(2020) - present</h6>
      <p>
        Bachelor of Computer Science (Software Engineering) <br />
        GPA: 3.70
        <br />
        CGPA: 3.50
      </p>
    </li>
    <li class="list-item">
      <h5 class="display-7 text-uppercase">
        AL Muhanna Bin Sultan High School
      </h5>
      <h6 class="text-uppercase text-black-50">2019-2020</h6>
      <p>
        Graduated high school in 2020 with honors in Math, Physics and Biology
        with an overall score (93%)
      </p>
    </li>
  </ul>
</div>
