<div class="header-right">
  <h4 class="text-uppercase">About Me</h4>
  <hr />
  <p>
    I am Software Engineering Student at the 65th University in the world. I
    love working with extremely talented people to create new products that will
    make an impact. My passion is solving problems and I enjoy learning new
    things.
  </p>
</div>
