<div class="header-left">
  <img
    class="img-thumbnail rounded-circle mb-2"
    src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80"
    alt=""
  />
  <h1 class="displayer-5">Omar Al Hendi</h1>
  <h4 class="lead text-uppercase text-white-50 mb-4">Creative Developer</h4>
</div>

<div>
  <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">
    Web Development
  </h5>

  <ul class="list-text-white-50 ml-5 py-2 text-left text-capitalize">
    <li class="list-item">HTML, CSS, Bootstrap</li>
    <li class="list-item">JavaScript, REACT JS</li>
    <li class="list-item">NodeJS, ExpressJS</li>
  </ul>
</div>
<!----------------------------- -->
<div>
  <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">
    Programming
  </h5>

  <ul class="list-text-white-50 ml-5 py-2 text-left text-capitalize">
    <li class="list-item">Data Structures & Algorithms</li>
    <li class="list-item">MongoDB, Oracle Database</li>
  </ul>
</div>

<div>
  <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">Languages</h5>

  <ul class="list-text-white-50 ml-5 py-2 text-left text-capitalize">
    <li class="list-item">Arabic: Native Language</li>
    <li class="list-item">English: IELTS 6.5 overall score</li>
  </ul>
</div>

<div>
  <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">
    Contact Me
  </h5>
  <ul class="list-unstyled text-white-50 ml-5 py-2 text-left">
    <li class="list-item d-block">
      <i class="fas fa-mobile-alt mx-4 text-white"></i>
      <p class="text-white d-inline">+968 71935997</p>
    </li>
    <li class="list-item mr">
      <i class="fas fa-envelope-open-text mx-4 text-white"></i>
      <a
        class="text-white d-inline text-decoration-none"
        href="mailto:omar.alhendi2002@gmail.coms"
        >Personal Email</a
      >
    </li>
    <li class="list-item">
      <i class="fas fa-blog mx-4 text-white"></i>
      <a
        class="text-white d-inline text-decoration-none"
        href="https://github.com/omar-alhendi"
        >Github Account</a
      >
    </li>
    <li class="list-item">
      <i class="fas fa-map-marker mx-4 text-white"></i>
      <p class="text-white d-inline text-decoration-none">Muscat, Oman</p>
    </li>
  </ul>
</div>
