<div class="header-right">
  <h4 class="text-uppercase">Projects</h4>
  <hr />
  <ul class="list">
    <li class="list-item">
      <h5 class="display-7 text-uppercase">YelpCamp</h5>
      <h6 class="text-uppercase text-black-50">
        HTML, CSS, Bootsrap JavaScript, NodeJS, Express, MongoDB
      </h6>
      <ul class="list">
        <li class="list-item">
          Designed and implemented that supports user log in, posting reviews,
          likes, and comments, and editing previous submissions.
        </li>
        <li class="list-item">
          A website that allows users to add camps and interact with them by
          adding reviews and likes.
        </li>
        <li class="list-item">
          The user can do the CRUD operations on the camps.
        </li>
      </ul>
    </li>
    <br />
    <li class="list-item">
      <h5 class="display-7 text-uppercase">Bugs Life</h5>
      <h6 class="text-uppercase text-black-50">Java</h6>
      <ul class="list">
        <li class="list-item">
          A software application that keeps track of reported software bugs in
          software development projects
        </li>
        <li class="list-item">
          Allows users to report a bug of the software project
        </li>
        <li class="list-item">
          Enable users to add comments on the issues and react with them.
        </li>
      </ul>
    </li>
  </ul>
</div>
