<%layout("layouts/public") %>
<link href="/css/public.css" rel="stylesheet" type="text/css" />
<title>All Classes</title>
<main>
  <div class="header">
    <h1>All Classes</h1>
  </div>
  <% if(subjects.length === 0) { %>
  <div class="message">
    <h2>No Classes Found</h2>
  </div>
  <% } %> <% if(subjects.length > 0) { %>
  <table>
    <thead>
      <tr>
        <th>Class Name</th>
        <th>Student Count</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for(let subject of subjects.reverse()) {%>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.students.length %></td>
        <td>
          <a class="primary" href="/classes/<%= subject._id %>">Details</a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } %>
  <div class="button slide_right">
    <a href="/classes/new">Add New Class</a>
  </div>
</main>
